<%= form_with(model: score, local: true) do |form| %>
  <% if score.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(score.errors.count, "error") %> prohibited this score from being saved:</h2>

      <ul>
      <% score.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :commentary %>
    <%= form.text_area :commentary, id: :score_commentary %>
  </div>

  <div class="field">
    <%= form.label :score %>
    <%= form.number_field :score, id: :score_score %>
  </div>

  <div class="field">
    <%= form.label :sale_id %>
    <%= form.text_field :sale_id, id: :score_sale_id %>
  </div>

  <div class="field">
    <%= form.label :qualified_id %>
    <%= form.text_field :qualified_id, id: :score_qualified_id %>
  </div>

  <div class="field">
    <%= form.label :qualifier_id %>
    <%= form.text_field :qualifier_id, id: :score_qualifier_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
