<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @sale.date %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @sale.quantity %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @sale.amount %>
</p>

<p>
  <strong>Seller:</strong>
  <%= @sale.seller %>
</p>

<p>
  <strong>Buyer:</strong>
  <%= @sale.buyer %>
</p>

<p>
  <strong>Article:</strong>
  <%= @sale.article %>
</p>

<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
